<div class="container" style="margin-top:20px">
<%if notice %><div class="alert alert-info" id="notice"><%= notice %></div><%end%>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-info" %> |
<%= link_to 'Back', topics_path, class: "btn btn-primary" %>
</div>